# Archivos de desarrollo
.git
.gitignore
README.md
Dockerfile
.dockerignore

# Archivos de test
test/
htmlcov/
.coverage
*.pyc
__pycache__/

# Archivos de build
*.egg-info/
build/
dist/

# Archivos temporales
*.tmp
*.log
logs/

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración local
.env
.env.local
.env.*.local

# Archivos de Python
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/ 