# Configuración del puerto del servicio
PORT=8002

# URL del servicio de autenticación
AUTH_SERVICE_URL=http://auth-service:8080

# URL del servicio de configuración
CONFIG_SERVICE_URL=http://config-service:8000

# Clave de encriptación (debe ser la misma que config-service)
ENCRYPTION_KEY=mi_contraseña_secreta

# Configuración de logs
LOG_LEVEL=INFO

# API Key de Google Gemini para análisis de seguridad
GEMINI_API_KEY=AIzaSyBw1lahxUngAHg8jHn2XvfHE-d9JUpnAp4

# Configuración de MongoDB
MONGO_HOST=mongodb_meli_db
MONGO_PORT=27017
MONGO_DATABASE=analysis_service
MONGO_USERNAME=admin
MONGO_PASSWORD=password