# Archivos de desarrollo
.git
.gitignore
README.md
Dockerfile
.dockerignore

# Archivos de test
test/
*_test.go

# Archivos temporales
*.tmp
*.log

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db 